-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: neo_content_pipeline
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `approval_batch_items`
--

DROP TABLE IF EXISTS `approval_batch_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `approval_batch_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `batch_id` bigint unsigned NOT NULL,
  `task_id` bigint unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_approval_batch_items_batch_task` (`batch_id`,`task_id`),
  KEY `idx_approval_batch_items_task_id` (`task_id`),
  CONSTRAINT `fk_approval_batch_items_batch` FOREIGN KEY (`batch_id`) REFERENCES `approval_batches` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT,
  CONSTRAINT `fk_approval_batch_items_task` FOREIGN KEY (`task_id`) REFERENCES `tasks` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=79 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approval_batch_items`
--

LOCK TABLES `approval_batch_items` WRITE;
/*!40000 ALTER TABLE `approval_batch_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `approval_batch_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `approval_batches`
--

DROP TABLE IF EXISTS `approval_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `approval_batches` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `upload_id` bigint unsigned NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `batch_status` enum('READY','USER_NOTIFIED','PUBLISHED','DOWNLOADED','EXPIRED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'READY',
  `zip_artifact_id` bigint unsigned DEFAULT NULL,
  `notified_at` datetime DEFAULT NULL,
  `published_at` datetime DEFAULT NULL,
  `downloaded_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_approval_batches_upload_id` (`upload_id`),
  KEY `idx_approval_batches_user_id` (`user_id`),
  KEY `idx_approval_batches_batch_status` (`batch_status`),
  KEY `fk_approval_batches_zip_artifact` (`zip_artifact_id`),
  CONSTRAINT `fk_approval_batches_upload` FOREIGN KEY (`upload_id`) REFERENCES `uploads` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT,
  CONSTRAINT `fk_approval_batches_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT,
  CONSTRAINT `fk_approval_batches_zip_artifact` FOREIGN KEY (`zip_artifact_id`) REFERENCES `task_artifacts` (`id`) ON DELETE SET NULL ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approval_batches`
--

LOCK TABLES `approval_batches` WRITE;
/*!40000 ALTER TABLE `approval_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `approval_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `article_balance_ledger`
--

DROP TABLE IF EXISTS `article_balance_ledger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `article_balance_ledger` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `payment_id` bigint unsigned DEFAULT NULL,
  `upload_id` bigint unsigned DEFAULT NULL,
  `task_id` bigint unsigned DEFAULT NULL,
  `entry_type` enum('PURCHASE','RESERVE','RELEASE','CONSUME','REFUND','MANUAL_ADJUSTMENT','CORRECTION') COLLATE utf8mb4_unicode_ci NOT NULL,
  `articles_delta` int NOT NULL,
  `balance_after` int DEFAULT NULL,
  `note_text` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_article_balance_ledger_user_id` (`user_id`),
  KEY `idx_article_balance_ledger_payment_id` (`payment_id`),
  KEY `idx_article_balance_ledger_upload_id` (`upload_id`),
  KEY `idx_article_balance_ledger_task_id` (`task_id`),
  KEY `idx_article_balance_ledger_entry_type` (`entry_type`),
  KEY `idx_article_balance_ledger_created_at` (`created_at`),
  CONSTRAINT `fk_article_balance_ledger_payment` FOREIGN KEY (`payment_id`) REFERENCES `payments` (`id`) ON DELETE SET NULL ON UPDATE RESTRICT,
  CONSTRAINT `fk_article_balance_ledger_task` FOREIGN KEY (`task_id`) REFERENCES `tasks` (`id`) ON DELETE SET NULL ON UPDATE RESTRICT,
  CONSTRAINT `fk_article_balance_ledger_upload` FOREIGN KEY (`upload_id`) REFERENCES `uploads` (`id`) ON DELETE SET NULL ON UPDATE RESTRICT,
  CONSTRAINT `fk_article_balance_ledger_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=212 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `article_balance_ledger`
--

LOCK TABLES `article_balance_ledger` WRITE;
/*!40000 ALTER TABLE `article_balance_ledger` DISABLE KEYS */;
INSERT INTO `article_balance_ledger` VALUES (211,29,NULL,NULL,NULL,'MANUAL_ADJUSTMENT',14,NULL,'WELCOME_BONUS_14','2026-04-13 23:49:33');
/*!40000 ALTER TABLE `article_balance_ledger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `article_packages`
--

DROP TABLE IF EXISTS `article_packages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `article_packages` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `package_code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `articles_qty` int NOT NULL,
  `price_amount` decimal(10,2) DEFAULT NULL,
  `currency_code` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_article_packages_package_code` (`package_code`),
  KEY `idx_article_packages_is_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `article_packages`
--

LOCK TABLES `article_packages` WRITE;
/*!40000 ALTER TABLE `article_packages` DISABLE KEYS */;
INSERT INTO `article_packages` VALUES (1,'ARTICLES_14',14,NULL,NULL,1,'2026-04-08 16:34:18','2026-04-08 16:34:18'),(2,'ARTICLES_42',42,NULL,NULL,1,'2026-04-08 16:34:18','2026-04-08 16:34:18'),(3,'ARTICLES_84',84,NULL,NULL,1,'2026-04-08 16:34:18','2026-04-08 16:34:18');
/*!40000 ALTER TABLE `article_packages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `package_id` bigint unsigned NOT NULL,
  `provider_code` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `provider_payment_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `provider_invoice_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_status` enum('PENDING','PAID','FAILED','CANCELLED','REFUNDED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `amount_value` decimal(10,2) DEFAULT NULL,
  `currency_code` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `purchased_articles_qty` int NOT NULL,
  `raw_payload_json` json DEFAULT NULL,
  `paid_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_payments_provider_payment_id` (`provider_payment_id`),
  KEY `idx_payments_user_id` (`user_id`),
  KEY `idx_payments_package_id` (`package_id`),
  KEY `idx_payments_payment_status` (`payment_status`),
  CONSTRAINT `fk_payments_package` FOREIGN KEY (`package_id`) REFERENCES `article_packages` (`id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `fk_payments_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `publications`
--

DROP TABLE IF EXISTS `publications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `publications` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `task_id` bigint unsigned NOT NULL,
  `target_channel` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `publish_mode` enum('instant','approval') COLLATE utf8mb4_unicode_ci NOT NULL,
  `scheduled_for` datetime DEFAULT NULL,
  `published_at` datetime DEFAULT NULL,
  `publisher_payload_json` json DEFAULT NULL,
  `external_message_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `publication_status` enum('PENDING','PUBLISHED','FAILED','SKIPPED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `error_message` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_publications_task_id` (`task_id`),
  KEY `idx_publications_publication_status` (`publication_status`),
  KEY `idx_publications_published_at` (`published_at`),
  CONSTRAINT `fk_publications_task` FOREIGN KEY (`task_id`) REFERENCES `tasks` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=144 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `publications`
--

LOCK TABLES `publications` WRITE;
/*!40000 ALTER TABLE `publications` DISABLE KEYS */;
/*!40000 ALTER TABLE `publications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `task_artifacts`
--

DROP TABLE IF EXISTS `task_artifacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `task_artifacts` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `task_id` bigint unsigned DEFAULT NULL,
  `upload_id` bigint unsigned DEFAULT NULL,
  `artifact_type` enum('SOURCE_XLSX','HTML','ZIP','PREVIEW') COLLATE utf8mb4_unicode_ci NOT NULL,
  `storage_path` varchar(1024) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mime_type` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `size_bytes` bigint DEFAULT NULL,
  `is_final` tinyint(1) NOT NULL DEFAULT '0',
  `expires_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_task_artifacts_task_id` (`task_id`),
  KEY `idx_task_artifacts_upload_id` (`upload_id`),
  KEY `idx_task_artifacts_artifact_type` (`artifact_type`),
  KEY `idx_task_artifacts_expires_at` (`expires_at`),
  CONSTRAINT `fk_task_artifacts_task` FOREIGN KEY (`task_id`) REFERENCES `tasks` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT,
  CONSTRAINT `fk_task_artifacts_upload` FOREIGN KEY (`upload_id`) REFERENCES `uploads` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=313 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `task_artifacts`
--

LOCK TABLES `task_artifacts` WRITE;
/*!40000 ALTER TABLE `task_artifacts` DISABLE KEYS */;
/*!40000 ALTER TABLE `task_artifacts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `task_generations`
--

DROP TABLE IF EXISTS `task_generations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `task_generations` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `task_id` bigint unsigned NOT NULL,
  `prompt_template_key` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `model_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `final_prompt_text` longtext COLLATE utf8mb4_unicode_ci,
  `research_context_text` longtext COLLATE utf8mb4_unicode_ci,
  `raw_output_text` longtext COLLATE utf8mb4_unicode_ci,
  `generation_status` enum('STARTED','SUCCEEDED','FAILED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'STARTED',
  `started_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `finished_at` datetime DEFAULT NULL,
  `error_code` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `error_message` text COLLATE utf8mb4_unicode_ci,
  `retryable` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_task_generations_task_id` (`task_id`),
  KEY `idx_task_generations_generation_status` (`generation_status`),
  KEY `idx_task_generations_started_at` (`started_at`),
  CONSTRAINT `fk_task_generations_task` FOREIGN KEY (`task_id`) REFERENCES `tasks` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=160 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `task_generations`
--

LOCK TABLES `task_generations` WRITE;
/*!40000 ALTER TABLE `task_generations` DISABLE KEYS */;
/*!40000 ALTER TABLE `task_generations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `task_renders`
--

DROP TABLE IF EXISTS `task_renders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `task_renders` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `task_id` bigint unsigned NOT NULL,
  `final_title_text` text COLLATE utf8mb4_unicode_ci,
  `body_html` longtext COLLATE utf8mb4_unicode_ci,
  `preview_text` text COLLATE utf8mb4_unicode_ci,
  `slug_value` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `html_storage_path` varchar(1024) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `error_code` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `error_message` text COLLATE utf8mb4_unicode_ci,
  `render_status` enum('STARTED','SUCCEEDED','FAILED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'STARTED',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_task_renders_task_id` (`task_id`),
  KEY `idx_task_renders_render_status` (`render_status`),
  KEY `idx_task_renders_slug_value` (`slug_value`),
  CONSTRAINT `fk_task_renders_task` FOREIGN KEY (`task_id`) REFERENCES `tasks` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=152 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `task_renders`
--

LOCK TABLES `task_renders` WRITE;
/*!40000 ALTER TABLE `task_renders` DISABLE KEYS */;
/*!40000 ALTER TABLE `task_renders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `task_research_sources`
--

DROP TABLE IF EXISTS `task_research_sources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `task_research_sources` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `task_id` bigint unsigned NOT NULL,
  `source_url` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `source_title` text COLLATE utf8mb4_unicode_ci,
  `source_language_code` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `published_at` datetime DEFAULT NULL,
  `collected_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `source_payload_json` json DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_task_research_sources_task_id` (`task_id`),
  KEY `idx_task_research_sources_collected_at` (`collected_at`),
  CONSTRAINT `fk_task_research_sources_task` FOREIGN KEY (`task_id`) REFERENCES `tasks` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=760 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `task_research_sources`
--

LOCK TABLES `task_research_sources` WRITE;
/*!40000 ALTER TABLE `task_research_sources` DISABLE KEYS */;
/*!40000 ALTER TABLE `task_research_sources` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `task_status_history`
--

DROP TABLE IF EXISTS `task_status_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `task_status_history` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `task_id` bigint unsigned NOT NULL,
  `old_status` enum('CREATED','QUEUED','PREPARING','RESEARCHING','GENERATING','RENDERING','READY_FOR_APPROVAL','PUBLISHING','DONE','FAILED','CANCELLED') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `new_status` enum('CREATED','QUEUED','PREPARING','RESEARCHING','GENERATING','RENDERING','READY_FOR_APPROVAL','PUBLISHING','DONE','FAILED','CANCELLED') COLLATE utf8mb4_unicode_ci NOT NULL,
  `changed_by` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `change_note` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_task_status_history_task_id` (`task_id`),
  KEY `idx_task_status_history_new_status` (`new_status`),
  KEY `idx_task_status_history_created_at` (`created_at`),
  CONSTRAINT `fk_task_status_history_task` FOREIGN KEY (`task_id`) REFERENCES `tasks` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=1139 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `task_status_history`
--

LOCK TABLES `task_status_history` WRITE;
/*!40000 ALTER TABLE `task_status_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `task_status_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tasks`
--

DROP TABLE IF EXISTS `tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `upload_id` bigint unsigned NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `target_channel` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `topic_text` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `custom_title` text COLLATE utf8mb4_unicode_ci,
  `keywords_text` text COLLATE utf8mb4_unicode_ci,
  `source_time_range` enum('24h','3d','7d','30d') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `response_language_code` enum('en','ru','uk','es','zh','hi','ar') COLLATE utf8mb4_unicode_ci NOT NULL,
  `style_code` enum('journalistic','simple','expert') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `content_length_code` enum('short','medium','long') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `include_image_flag` tinyint(1) NOT NULL DEFAULT '0',
  `footer_text` text COLLATE utf8mb4_unicode_ci,
  `footer_link_url` text COLLATE utf8mb4_unicode_ci,
  `scheduled_publish_at` datetime DEFAULT NULL,
  `publish_mode` enum('instant','approval') COLLATE utf8mb4_unicode_ci NOT NULL,
  `article_cost` int NOT NULL DEFAULT '1',
  `billing_state` enum('RESERVED','CONSUMED','RELEASED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'RESERVED',
  `task_status` enum('CREATED','QUEUED','PREPARING','RESEARCHING','GENERATING','RENDERING','READY_FOR_APPROVAL','PUBLISHING','DONE','FAILED','CANCELLED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'CREATED',
  `retry_count` int NOT NULL DEFAULT '0',
  `last_error_message` text COLLATE utf8mb4_unicode_ci,
  `next_attempt_at` datetime DEFAULT NULL,
  `claimed_by` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `claimed_at` datetime DEFAULT NULL,
  `lease_until` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `completed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_tasks_upload_id` (`upload_id`),
  KEY `idx_tasks_user_id` (`user_id`),
  KEY `idx_tasks_task_status` (`task_status`),
  KEY `idx_tasks_publish_mode` (`publish_mode`),
  KEY `idx_tasks_style_code` (`style_code`),
  KEY `idx_tasks_response_language_code` (`response_language_code`),
  KEY `idx_tasks_scheduled_publish_at` (`scheduled_publish_at`),
  KEY `idx_tasks_billing_state` (`billing_state`),
  KEY `idx_tasks_lease_until` (`lease_until`),
  CONSTRAINT `fk_tasks_upload` FOREIGN KEY (`upload_id`) REFERENCES `uploads` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT,
  CONSTRAINT `fk_tasks_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=335 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks`
--

LOCK TABLES `tasks` WRITE;
/*!40000 ALTER TABLE `tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `upload_validation_errors`
--

DROP TABLE IF EXISTS `upload_validation_errors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `upload_validation_errors` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `upload_id` bigint unsigned NOT NULL,
  `sheet_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `excel_row` int NOT NULL,
  `column_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `error_code` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `error_message` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `bad_value` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_upload_validation_errors_upload_id` (`upload_id`),
  KEY `idx_upload_validation_errors_excel_row` (`excel_row`),
  CONSTRAINT `fk_upload_validation_errors_upload` FOREIGN KEY (`upload_id`) REFERENCES `uploads` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=113 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `upload_validation_errors`
--

LOCK TABLES `upload_validation_errors` WRITE;
/*!40000 ALTER TABLE `upload_validation_errors` DISABLE KEYS */;
/*!40000 ALTER TABLE `upload_validation_errors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `uploads`
--

DROP TABLE IF EXISTS `uploads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `uploads` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `original_filename` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `storage_path` varchar(1024) COLLATE utf8mb4_unicode_ci NOT NULL,
  `upload_status` enum('RECEIVED','VALIDATED','VALIDATION_FAILED','PROCESSING','COMPLETED','FAILED','CANCELLED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'RECEIVED',
  `total_rows_count` int NOT NULL DEFAULT '0',
  `valid_rows_count` int NOT NULL DEFAULT '0',
  `invalid_rows_count` int NOT NULL DEFAULT '0',
  `required_articles_count` int NOT NULL DEFAULT '0',
  `reserved_articles_count` int NOT NULL DEFAULT '0',
  `billing_status` enum('PENDING','REJECTED','RESERVED','CONSUMED','RELEASED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `received_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_uploads_user_id` (`user_id`),
  KEY `idx_uploads_upload_status` (`upload_status`),
  KEY `idx_uploads_billing_status` (`billing_status`),
  KEY `idx_uploads_received_at` (`received_at`),
  CONSTRAINT `fk_uploads_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `uploads`
--

LOCK TABLES `uploads` WRITE;
/*!40000 ALTER TABLE `uploads` DISABLE KEYS */;
/*!40000 ALTER TABLE `uploads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_actions`
--

DROP TABLE IF EXISTS `user_actions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_actions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `upload_id` bigint unsigned DEFAULT NULL,
  `batch_id` bigint unsigned DEFAULT NULL,
  `task_id` bigint unsigned DEFAULT NULL,
  `action_type` enum('LANGUAGE_SELECTED','OPEN_INSTRUCTIONS','UPLOAD_FILE','REUPLOAD_FILE','PUBLISH_CLICK','DOWNLOAD_ARCHIVE_CLICK') COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_payload_json` json DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_user_actions_user_id` (`user_id`),
  KEY `idx_user_actions_upload_id` (`upload_id`),
  KEY `idx_user_actions_batch_id` (`batch_id`),
  KEY `idx_user_actions_task_id` (`task_id`),
  KEY `idx_user_actions_action_type` (`action_type`),
  CONSTRAINT `fk_user_actions_batch` FOREIGN KEY (`batch_id`) REFERENCES `approval_batches` (`id`) ON DELETE SET NULL ON UPDATE RESTRICT,
  CONSTRAINT `fk_user_actions_task` FOREIGN KEY (`task_id`) REFERENCES `tasks` (`id`) ON DELETE SET NULL ON UPDATE RESTRICT,
  CONSTRAINT `fk_user_actions_upload` FOREIGN KEY (`upload_id`) REFERENCES `uploads` (`id`) ON DELETE SET NULL ON UPDATE RESTRICT,
  CONSTRAINT `fk_user_actions_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=141 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_actions`
--

LOCK TABLES `user_actions` WRITE;
/*!40000 ALTER TABLE `user_actions` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_actions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_article_balances`
--

DROP TABLE IF EXISTS `user_article_balances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_article_balances` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `available_articles_count` int NOT NULL DEFAULT '0',
  `reserved_articles_count` int NOT NULL DEFAULT '0',
  `consumed_articles_total` int NOT NULL DEFAULT '0',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_article_balances_user_id` (`user_id`),
  KEY `idx_user_article_balances_available_articles_count` (`available_articles_count`),
  CONSTRAINT `fk_user_article_balances_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=212 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_article_balances`
--

LOCK TABLES `user_article_balances` WRITE;
/*!40000 ALTER TABLE `user_article_balances` DISABLE KEYS */;
INSERT INTO `user_article_balances` VALUES (211,29,14,0,0,'2026-04-13 23:49:33');
/*!40000 ALTER TABLE `user_article_balances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `telegram_user_id` bigint NOT NULL,
  `interface_language` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_users_telegram_user_id` (`telegram_user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (29,478048953,'ar','2026-04-13 23:49:33','2026-04-14 19:17:39');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-14 19:20:15
